@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.root{
    width: 100vw;
}

.title-header{
    font-weight: bolder;
}
#content-edit{
    align-items: center;
    display: flex;
    margin: 10px;
    padding: 5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.item-content{
    align-items: center;
    display: flex;
    margin: 10px;
    padding: 5px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.item-content-Detail{
    width: 300px;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-button {
    width: 150px;
}
.w3-red, .w3-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important;
}
.w3-orange, .w3-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important;
}
.w3-green, .w3-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important;
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}